html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
	min-height: 350px;
}

#wrapper{
	background-color: #f4f0ee;
	border: 1px solid #ccd;
	width: 600px;
	height: 300px;
	padding-top: 25px;
	margin: 100px auto;
	border-radius: 10px;
}

#carousel > div {
	width: 400px;
	height: 300px;
	padding: 0 100px;
	float: left;
	overflow: hidden;
}

#carousel img {
	width: 400px;
	border: none;
	display: block;
	margin: 0 auto;
	float: left;
}


